<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand color-black" [routerLink]="['/registrar']">Registro</a>
      <a class="navbar-brand color-black" [routerLink]="['/loguear']">Login</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Cubos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Marcas
            </a>
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item" *ngFor="let marca of modelos" [routerLink]="['/modelos',marca]">{{marca}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>